<div>

  <h3>Todos los perritos por raza</h3>

  {{#each this.dogsByBreed }}

    <div>
      <h5>Este es el mejor perrito del mundo</h5>
      <img src="{{this}}" alt="perrete" width="300px">
      <p>rating: 11/10</p>
    </div>


  {{/each}}

</div>