<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  {{!-- .todo lo que agregue al layout esta disponible en todas las paginas --}}
  <nav>
    <a href="/">Home</a>
    <a href="/about">Sobre nosotros</a>
    <a href="/lessons">Todas las lecciones</a>
    <a href="/approved-lessons"> Lecciones aprobadas</a>

    <a href="/lessons/web">web</a>
    <a href="/lessons/cyber">cyber</a>

  </nav>
  
  {{{body}}}

</body>
</html>